[submodule "swe_go"]
	path = swe_go
	url = git@github.com:pandohansamuel19/swe_go.git
[submodule "gocv"]
	path = gocv
	url = git@github.com:hybridgroup/gocv.git
[submodule "smkdev-aether"]
	path = smkdev-aether
	url = git@github.com:smkdev-id/smkdev-aether.git
[submodule "smkdev-echocommercehub"]
	path = smkdev-echocommercehub
	url = git@github.com:smkdev-id/smkdev-echocommercehub.git
